@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);

  --dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --light-Grayish-Magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html,
body,
main {
  width: 100%;
  min-height: 100vh;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

main {
  background-image: url("./images/bg-pattern-top-desktop.svg"),
    url("./images/bg-pattern-bottom-desktop.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
  padding: 8.25rem 10rem;
}
section {
  padding-right: 3rem;
}
.stars {
  padding-left: 2rem;
}

section,
.stars {
  width: 48%;
  display: inline-block;
  vertical-align: top;
}

h1 {
  color: var(--very-dark-magenta);
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
}

section p {
  color: var(--dark-Grayish-Magenta);
  padding-top: 1rem;
}

.stars div {
  background-color: var(--light-Grayish-Magenta);
  padding: 1rem 3rem;
  margin: 1rem 0rem;
  border-radius: 0.5rem;
  color: var(--very-dark-magenta);
  font-size: 0.9rem;
  font-weight: 700;
  width: 440px;
}

.stars div:nth-child(2) {
  margin-left: 3rem;
}

.stars div:last-child {
  margin-left: 6rem;
}

.stars div p::before {
  content: url("./images/icon-star.svg") url("./images/icon-star.svg")
    url("./images/icon-star.svg") url("./images/icon-star.svg")
    url("./images/icon-star.svg");
  padding-right: 2rem;
}

.cards {
  margin-top: 4.5rem;
}

.cards.row {
  gap: 1.7rem;
}

.card {
  background-color: var(--very-dark-magenta);
  padding: 2rem;
  border-radius: 0.5rem;
  color: var(--white);
  font-size: 0.8rem;
  line-height: 1.5rem;
  width: 350px;
  height: 235px;
  flex-shrink: 0;
}

.cards .card:nth-child(2) {
  margin-top: 1rem;
}

.cards .card:last-child {
  margin-top: 2rem;
}

.card .row {
  padding-bottom: 1rem;
  align-items: center;
}

.card img {
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
}

.card .user-info {
  padding-left: 1.5rem;
}

.user-info .name {
  color: var(--light-Grayish-Magenta);
  font-weight: 700;
}

.user-info .title {
  color: var(--soft-pink);
}

@media (max-width: 1000px) {
  main {
    padding: 5.5rem 1.5rem 2rem 1.5rem;
    background-image: url("./images/bg-pattern-top-mobile.svg"),
      url("./images/bg-pattern-bottom-mobile.svg");
  }

  section,
  .stars {
    display: block;
    width: 100%;
    padding: 0;
    text-align: center;
  }

  h1 {
    font-size: 2.5rem;
  }

  section p {
    font-size: 0.9rem;
  }

  .stars div {
    margin-left: 0 !important;
    width: 100%;
    text-align: center;
  }

  .stars div p::before {
    display: block;
    padding: 0.2rem 0;
  }

  .cards {
    margin-top: 2rem;
  }

  .card {
    width: fit-content;
    height: fit-content;
    margin-top: 0 !important;
  }
}
